@use "sass:color";
@use "./variables.module" as *;
@forward "./variables.module";

.excalidraw {
  --theme-filter: none;
  --button-destructive-bg-color: #ffdad8;
  --button-destructive-color: #93000a;
  --button-gray-1: #f3f3f8;
  --button-gray-2: #e8e8ed;
  --button-gray-3: #e2e2e7;
  --mobile-action-button-bg: rgba(255, 255, 255, 0.35);
  --mobile-color-border: var(--default-border-color);
  --button-special-active-bg-color: #ffdad8;
  --dialog-border-color: var(--color-border-outline-variant);
  --dropdown-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" viewBox="0 0 292 292"><path d="M287 197L159 69c-4-3-8-5-13-5s-9 2-13 5L5 197c-3 4-5 8-5 13s2 9 5 13c4 4 8 5 13 5h256c5 0 9-1 13-5s5-8 5-13-1-9-5-13z"/></svg>');
  --focus-highlight-color: #007aff;
  --icon-fill-color: var(--color-on-surface);
  --icon-green-fill-color: #{$color-green-9};
  --default-bg-color: #f9f9fe;
  --input-bg-color: #fff;
  --input-border-color: #c3c7cb;
  --input-hover-bg-color: #f3f3f8;
  --input-label-color: #42474b;
  --island-bg-color: #ffffff;
  --island-bg-color-alt: #fff;
  --keybinding-color: var(--color-gray-60);
  --link-color: #007aff;
  --link-color-hover: #005ec2;
  --link-color-active: #3685ff;
  --overlay-bg-color: #{color.adjust(#fff, $alpha: -0.12)};
  --popup-bg-color: var(--island-bg-color);
  --popup-secondary-bg-color: #f3f3f8;
  --popup-text-color: #0c2430;
  --popup-text-inverted-color: #fff;
  --select-highlight-color: #007aff;
  --shadow-island: 0 0 0 1px rgba(12, 36, 48, 0.1),
    0 2px 4px rgba(12, 36, 48, 0.02);
  --shadow-island-stronger: 0 0 0 1px rgba(12, 36, 48, 0.14),
    0 4px 8px rgba(12, 36, 48, 0.04);

  --button-hover-bg: var(--color-surface-high);
  --button-active-bg: var(--color-surface-high);
  --button-active-border: var(--color-brand-active);
  --default-border-color: var(--color-border-outline-variant);

  --default-button-size: 2rem;
  --default-icon-size: 1rem;
  --lg-button-size: 2.25rem;
  --lg-icon-size: 1rem;
  --editor-container-padding: 1rem;
  --mobile-action-button-size: 2rem;

  --scrollbar-thumb: var(--button-gray-2);
  --scrollbar-thumb-hover: var(--button-gray-3);

  --color-slider-track: #d8e2ff;
  --color-slider-thumb: #0c2430;

  --modal-shadow: 0 0 0 1px rgba(12, 36, 48, 0.1),
    0 4px 12px rgba(12, 36, 48, 0.04);
  --avatar-border-color: var(--color-border-outline-variant);
  --sidebar-shadow: 0 0 0 1px rgba(12, 36, 48, 0.1),
    0 4px 12px rgba(12, 36, 48, 0.04);
  --sidebar-border-color: var(--color-border-outline-variant);
  --sidebar-bg-color: var(--island-bg-color);
  --library-dropdown-shadow: 0px 15px 6px rgba(0, 0, 0, 0.01),
    0px 8px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09),
    0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  --chat-msg-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  --space-factor: 0.25rem;
  --text-primary-color: #0c2430;

  --color-selection: #007aff;

  --color-icon-white: #fff;

  --color-primary: #0c2430;
  --color-primary-container: #0c2430;
  --color-secondary: #c8102e;
  --color-tertiary: #007aff;
  --color-background-page: #ffffff;
  --color-background-subtle: #f2f2f7;
  --color-text-primary: #0c2430;
  --color-text-secondary: #42474b;
  --color-primary-darker: #000c15;
  --color-primary-darkest: #000a21;
  --color-primary-light: #cee6f6;
  --color-primary-light-darker: #b2cada;
  --color-primary-hover: #334a57;

  --color-gray-10: #f9f9fe;
  --color-gray-20: #ededf2;
  --color-gray-30: #e2e2e7;
  --color-gray-40: #c3c7cb;
  --color-gray-50: #73787c;
  --color-gray-60: #42474b;
  --color-gray-70: #334a57;
  --color-gray-80: #1a1c1f;
  --color-gray-85: #0c2430;
  --color-gray-90: #000c15;
  --color-gray-100: #000a21;

  --color-disabled: var(--color-gray-40);

  --color-warning: #ffdad8;
  --color-warning-dark: #e0283c;
  --color-warning-darker: #c8102e;
  --color-warning-darkest: #92001c;
  --color-text-warning: var(--text-primary-color);

  --color-danger: #c8102e;
  --color-danger-dark: #bb0027;
  --color-danger-darker: #92001c;
  --color-danger-darkest: #410007;
  --color-danger-text: #ffffff;

  --color-danger-background: #ffdad8;
  --color-danger-icon-background: #ffdad6;
  --color-danger-color: #93000a;
  --color-danger-icon-color: #93000a;

  --color-warning-background: var(--color-warning);
  --color-warning-icon-background: var(--color-warning-dark);
  --color-warning-color: var(--text-primary-color);
  --color-warning-icon-color: var(--text-primary-color);

  --color-muted: var(--color-gray-30);
  --color-muted-darker: var(--color-gray-60);
  --color-muted-darkest: var(--color-gray-100);
  --color-muted-background: var(--color-gray-60);
  --color-muted-background-darker: var(--color-gray-80);

  --color-promo: var(--color-primary);

  --color-success: #d3ffd2;
  --color-success-darker: #bafabc;
  --color-success-darkest: #a5eba8;
  --color-success-text: #268029;
  --color-success-contrast: #65bb6a;
  --color-success-contrast-hover: #6bcf70;
  --color-success-contrast-active: #6edf74;

  --color-logo-icon: var(--color-primary);
  --color-logo-text: #0c2430;

  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.25rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;

  --color-surface-high: #e8e8ed;
  --color-surface-mid: #ededf2;
  --color-surface-low: #f3f3f8;
  --color-surface-lowest: #ffffff;
  --color-on-surface: #1a1c1f;
  --color-brand-hover: #007aff;
  --color-on-primary-container: #ffffff;
  --color-surface-primary-container: #0c2430;
  --color-brand-active: #c8102e;
  --color-border-outline: #73787c;
  --color-border-outline-variant: #c3c7cb;
  --color-surface-primary-container: #0c2430;

  --color-badge: #0b6513;
  --background-color-badge: #d3ffd2;

  @include isMobile {
    --editor-container-padding: 0.75rem;
  }

  @media screen and (min-device-width: 1921px) {
    --lg-button-size: 2.5rem;
    --lg-icon-size: 1.25rem;
    --default-button-size: 2.25rem;
    --default-icon-size: 1.25rem;
  }

  &.theme--dark {
    &.theme--dark-background-none {
      background: none;
    }
  }

  &.theme--dark {
    --theme-filter: invert(93%) hue-rotate(180deg);
    --button-destructive-bg-color: #410007;
    --button-destructive-color: #ffb3b1;

    --button-gray-1: #2e3034;
    --button-gray-2: #42474b;
    --button-gray-3: #4b616f;
    --mobile-action-button-bg: var(--island-bg-color);
    --mobile-color-border: rgba(255, 255, 255, 0.85);
    --button-special-active-bg-color: #410007;
    --dialog-border-color: var(--color-border-outline-variant);
    --dropdown-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" viewBox="0 0 292 292"><path fill="%23ced4da" d="M287 197L159 69c-4-3-8-5-13-5s-9 2-13 5L5 197c-3 4-5 8-5 13s2 9 5 13c4 4 8 5 13 5h256c5 0 9-1 13-5s5-8 5-13-1-9-5-13z"/></svg>');
    --focus-highlight-color: #3685ff;
    --icon-green-fill-color: #{$color-green-4};
    --default-bg-color: #1a1c1f;
    --input-bg-color: #1a1c1f;
    --input-border-color: #42474b;
    --input-hover-bg-color: #2e3034;
    --input-label-color: #c3c7cb;
    --island-bg-color: #2e3034;
    --island-bg-color-alt: #1a1c1f;
    --keybinding-color: var(--color-gray-40);
    --link-color: #3685ff;
    --link-color-hover: #adc6ff;
    --link-color-active: #007aff;
    --overlay-bg-color: #{color.adjust($color-gray-8, $alpha: -0.88)};
    --popup-secondary-bg-color: #1a1c1f;
    --popup-text-color: #f0f0f5;
    --popup-text-inverted-color: #1a1c1f;
    --select-highlight-color: #3685ff;

    --modal-shadow: 0 0 0 1px rgba(240, 240, 245, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.2);
    --avatar-border-color: var(--color-border-outline-variant);
    --sidebar-shadow: 0 0 0 1px rgba(240, 240, 245, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.2);

    --scrollbar-thumb: #42474b;
    --scrollbar-thumb-hover: #73787c;

    --color-slider-track: #00204c;
    --color-slider-thumb: #f0f0f5;

    // will be inverted to a lighter color.
    --color-selection: #3685ff;

    --color-icon-white: var(--color-gray-90);
    --text-primary-color: #f0f0f5;

    --color-primary: #b2cada;
    --color-primary-container: #f0f0f5;
    --color-secondary: #ffb3b1;
    --color-tertiary: #3685ff;
    --color-background-page: #1a1c1f;
    --color-background-subtle: #2e3034;
    --color-text-primary: #f0f0f5;
    --color-text-secondary: #c3c7cb;
    --color-primary-darker: #cee6f6;
    --color-primary-darkest: #f0f0f5;
    --color-primary-light: #334a57;
    --color-primary-light-darker: #0c2430;
    --color-primary-hover: #cee6f6;

    --color-disabled: var(--color-gray-70);

    --color-text-warning: #410007;

    --color-danger: #ffb3b1;
    --color-danger-dark: #92001c;
    --color-danger-darker: #bb0027;
    --color-danger-darkest: #e0283c;
    --color-danger-text: #ffdad8;

    --color-danger-background: #fbcbcc;
    --color-danger-icon-background: #672120;
    --color-danger-color: #261919;
    --color-danger-icon-color: #fbcbcc;

    --color-warning-background: var(--color-warning);
    --color-warning-icon-background: var(--color-warning-dark);
    --color-warning-color: var(--color-gray-80);
    --color-warning-icon-color: var(--color-gray-80);

    --color-muted: var(--color-gray-70);
    --color-muted-darker: var(--color-gray-50);
    --color-muted-darkest: var(--color-gray-20);
    --color-muted-background: var(--color-gray-40);
    --color-muted-background-darker: var(--color-gray-20);

    --color-logo-text: #f0f0f5;

    --color-surface-high: #42474b;
    --color-surface-low: #2e3034;
    --color-surface-mid: #1a1c1f;
    --color-surface-lowest: #000c15;
    --color-on-surface: #f0f0f5;
    --color-brand-hover: #3685ff;
    --color-on-primary-container: #0c2430;
    --color-surface-primary-container: #f0f0f5;
    --color-brand-active: #ffb3b1;
    --color-border-outline: #73787c;
    --color-border-outline-variant: #42474b;
    --color-surface-primary-container: #f0f0f5;
  }
}
